/* Base styling for the board */
.Board {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Styling for the container of tweets */
.tweets-container {
  overflow-y: auto;
  padding: 20px;
  flex-grow: 1;
}

h1 {
  color: #1da1f2;
}

/* Styles for individual tweets */
.tweet {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  border-bottom: 1px solid #e1e8ed;
  padding: 10px 0;
}

.profile-pic {
  font-size: 30px; /* Size of the user icon */
  margin-right: 10px;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 5px; /* Optional: adjust spacing */
}

.tweet-content {
  text-align: left;
  flex-grow: 1; /* Allow content to take up remaining space */
  word-wrap: break-word; /* Ensure long words do not overflow */
}


.username {
  font-weight: bold;
  margin-right: 10px; /* Spacing between username and time */
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  flex-direction: row;
}

.time {
  color: #657786;
}

/* Styles for the tweet input area */
.tweet-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid #e1e8ed;
  padding: 10px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

textarea {
  width: 85%; /* Adjust width as needed */
  height: 40px; /* Make it thinner */
  margin-right: 10px; /* Spacing between textarea and button */
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  resize: none;
}

button {
  min-width: 40px; /* Set a minimum width for the button */
  height: 40px; /* Match the height of the textarea */
  padding: 6px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #1991db;
}

/* Adjust the button size if needed */
button svg {
  height: 20px;
  width: 20px;
}
