.Diary {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.text{
  width: 50vw;
  height: 10vh;
}

.btn{
  width: 20vw;
  height: 4vh;
  font-size: large;
  background-color: #6AB8FF;
  border-radius: 0.5vw;
  border-color: #6AB8FF;
  margin-top: 4vh;
}

.link_area{
  margin-top: 3vh;
}

.link{
  color: #6B83FF;
  
}