.Graph {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1{
  margin:0;
  margin-top: 50px;
}

.graph_area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 90vw;
}

.btn_area{
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1{
  background-color: #a4caf1;
  border-width: 0.1vw;
  border-radius: 2vw;
  border-color: #adbbc9;
  width: 13vw;
  height: 5vh;
  font-size: large;
  margin:2vw;
}

.btn2{
  background-color: #a4caf1;
  border-width: 0.1vw;
  border-radius: 2vw;
  border-color: #adbbc9;
  width: 13vw;
  height: 5vh;
  font-size: large;
  margin: 2vw;
}

.btn3{
  background-color: #a4caf1;
  border-width: 0.1vw;
  border-radius: 2vw;
  border-color: #adbbc9;
  width: 13vw;
  height: 5vh;
  font-size: large;
  margin: 2vw;
}